stage:
  - build
  - test

variables:
  IMAGE_NAME: devops-trainee-lab

test_python:
  stage: test
  image: python:3.11
  script:
    - python scripts/main.py

build_docker:
  stage: build
  image: docker:24
  services:
    - docker:24-dind
  script:
    - docker build -t $IMAGE_NAME

