stages:
  - test
  - build

variables:
  IMAGE_NAME: devops-trainee-lab

test_python:
  stage: test
  image: python:3.11
  script:
    - pip install -r requirements.txt
    - python scripts/main.py

build_docker:
  stage: build
  image: docker:24
  services:
    - docker:24-dind
  variables:
    DOCKER_TLS_CERTDIR: ""
  script:
    - docker build -t $IMAGE_NAME .


#CI validated
